:root {
  // fonts
  --font-largest: normal 500 3.6rem/6.1rem 'Rubik';
  --font-larger: normal 500 3.2rem/5.4rem "Rubik";
  --font-large: normal 500 2.4rem/4.1rem "Rubik";
  --font-mid: normal 500 2.0rem/3.4rem "Rubik";
  --font-small: normal 400 1.6rem/2.7rem 'Rubik';
  --font-smaller: normal 400 1.4rem/2.4rem 'Rubik';
  --font-smallest: normal 400 1.2rem/2.0rem 'Rubik';
  --font-tiny: normal 400 1.0rem/1.7rem 'Rubik';
}
