@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap');

:root {
  --color-header-text: var(--color-neutral-darkest);
  --color-body-text: var(--color-neutral-dark);
  --color-contrast-text: var(--color-neutral-mid-lightest)
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

body {
  font: var(--font-body);
  line-height: 1.4;
  color: var(--color-body)
}

* {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

a,
a:visited {
  color: inherit;
}

h1 {
  font: var(--font-largest);
  color: var(--color-header-text);
}

h2 {
  font: var(--font-larger);
  color: var(--color-header-text);
}

h3 {
  font: var(--font-large);
  color: var(--color-header-text);
}

h4 {
  font: var(--font-mid);
  color: var(--color-header-text);
}

p {
  font: var(--font-small);
  color: var(--color-body-text);
}

label {
  font: var(--font-small);
  font-weight: 600;
  color: var(--color-body-text);
}

hr {

    border: 0;
    width: 100%;
    height: 1px;
    background-color: var(--color-neutral-lighter);
    margin: 0;
}
