.icon-default {
  width: 24px;
  height: 24px;
  display: inline-block;
  color: var(--icon-color);
  cursor: pointer;

  &:hover {
    --icon-color: var(--color-primary-mid-light);
  }

  & svg {
    width: 100%;
    height: 100%;
    color: inherit;
  }
}
