

:root {
  // Label
  --color-label: var(--color-dark-grey);

  // Border
  --border-neutral: 1px solid var(--color-neutral-main);
  --border-primary: 1px solid var(--color-primary-main);
  --border-error: 1px solid var(--color-primary-red);

}
