@import "../components/buttons";
@import "../components/sidebar";
@import "../components/icons";

:root {
  // Body Color
  --color-body: var(--color-primary-black);

  // Label
  --color-label: var(--color-dark-grey);

  // Border
  --border-grey: 1px solid var(--color-light-grey);
  --border-dark: 1px solid var(--color-primary-main);
  --border-error: 1px solid var(--color-primary-red);


  // error colors
  --color-errortext: var(--color-primary-red);

  // fonts
  --font-h1: normal 500 2.4rem/3.2rem 'Rubik';
  --font-h2: normal 500 2rem/2.6rem "Rubik";
  --font-h3: normal 500 1.8rem/2rem "Rubik";
  --font-h4: normal 500 1.6rem/2rem "Rubik";
  --font-body: normal 400 1.4rem/2.4rem 'Rubik';
  --font-label: normal 400 1.2rem/1.5rem 'Rubik';
  --font-subtitle-1: normal 300 1.5rem/2.4rem 'Rubik';
  //--font-subtitle-2: normal 300 2rem/2.6rem "Rubik";
  //--font-subtitle-3: normal 300 1.8rem/2rem "Rubik";
  //--font-subtitle-4: normal 300 1.6rem/2rem "Rubik";

  // Input Font
  --font-input: normal 400 1.4rem/2.4rem 'Rubik';

  // breakpoints
  --breakpoint-max: 1440px;
  --breakpoint-xs: 0px;
  --breakpoint-sm: 600px;
  --breakpoint-md: 960px;
  --breakpoint-lg: 1280px;
  --breakpoint-xl: 1920px;
}
