.login {
  height: 100vh;
  display: flex;
  align-items: center;
}

.login-aside {
  flex: 0 0 800px;
  overflow: hidden;
  height: 100%;
}

.login-image {
  height: 100vh;
  width: 100%;
}

.login-main {
  margin-left: 70px;
  flex: 0 0 400px;
}

.login-input {
  margin-top: 40px;
  width: 100%;
}

.login-btn {
  width: 60%;
  margin-top: 50px;
}
