.btn {
  border: none;
  text-transform: capitalize;
  font-weight: 500;
  min-width: 150px;
  border-radius: .3rem;
  display: inline-block;
  transition: all .2s ease-in;

  &--normal {
    font: var(--font-smaller);
    padding: 1.5rem 2.2rem;
  }

  &--small {
    padding: 1rem 1.6rem;
    font-size: 1.4rem;
  }

  &--big {
    padding: 1.5rem;
    max-height: 48px;
  }
}

.btn--primary {
  background-color: var(--color-btn-primary);
  color: var(--color-btn-primary-text);

  &[disabled] {
    background-color: var(--color-btn-primary-disabled);
    color: var(--color-btn-primary-disabled-text);

    &:hover {
      background-color: var(--color-btn-primary-disabled);
      color: var(--color-btn-primary-disabled-text);
    }
  }

  &:hover {
    background-color: var(--color-btn-primary-active);
    color: var(--color-btn-primary-active-text);
  }

  &:focus {
    background-color: var(--color-btn-primary-active);
    color: var(--color-btn-primary-active-text);
  }
}

.btn--secondary {
  background-color: var(--color-btn-secondary);
  color: var(--color-btn-secondary-text);
  border: var(--border-dark);

  //&[disabled] {
  //  background-color: var(--color-btn-primary-disabled);
  //  color: var(--color-btn-primary-disabled-text);
  //
  //  &:hover {
  //    background-color: var(--color-btn-primary-disabled);
  //    color: var(--color-btn-primary-disabled-text);
  //  }
  //}
  //
  //&:hover {
  //  background-color: var(--color-btn-primary-active);
  //  color: var(--color-btn-primary-active-text);
  //}
  //
  //&:focus {
  //  background-color: var(--color-btn-primary-active);
  //  color: var(--color-btn-primary-active-text);
  //}
}
