.register {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  & header {
    align-self: flex-start;
  }

  &-subtitle {
    font: var(--font-subtitle-1);
    color: var(--color-subtitletext);
    margin-top: 10px;
  }
}

.register-main {
  margin-top: 65px;
  display: flex;
  width: 100%;
}

.register-form {
  flex: 0 0 40%;
  padding-right: 100px;
  display: flex;
  flex-direction: column;
  align-self: flex-end;

  &:after {
    content: '';
    position: absolute;
    z-index: -1;
    top: 150px;
    bottom: 0;
    height: 700px;
    left: 50%;
    border-left: var(--border-dark);
    border-radius: 100px;
    transform: translate(-50%);
    border-width: 1px;
    border-color: #e6e6e8;
  }
}

.register-input:not(:last-child) {
  margin-bottom: 30px;
}

.register-btn {
  max-width: 300px;
  margin-top: 50px;
}

.register-billing {
  text-align: left;

  &__title {
    color: var(--color-label);
    font: var(--font-label);
  }

  &__checkbox {
    display: flex;
    max-width: 50%;
    justify-content: space-between;
    margin-top: 16px;
  }
}

.register-image {
  padding-left: 100px;
  margin-top: 40px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__privacy {
    margin-top: 80px;
    font-width: 300;
  }
  &__login {
    margin-top: 40px;
    font-width: 300;
    text-align: center;
  }

  & span {
    font-weight: 500;
    cursor: pointer;
  }
}
